DATABASE_URL="postgresql://your_user:REDACTED_PASSWORD@your-pooler-host.neon.tech/neondb?sslmode=require&pgbouncer=true"
NEXTAUTH_SECRET="change-me-in-production-use-openssl-rand-base64-32"
NEXTAUTH_URL="http://localhost:3000"
GEMINI_API_KEY=""
